.hidden {
    display: none;
}

table{
    width: 33%;
    border-spacing: 0;
}

table tr th{
    width: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table tr td{
    border-bottom: 1px solid black;
}

table tr th:nth-of-type(1), table tr td:nth-of-type(1){
 border-left: 1px solid black;
}

table tr th:last-of-type, table tr td:last-of-type{
 border-right: 1px solid black;
}

table tr th:nth-of-type(even), table tr td:nth-of-type(even){
 border-left: 1px solid black;
 border-right: 1px solid black;
}